In [1]:
import numpy as np

from sklearn.neighbors import KNeighborsClassifier

import pandas as pd

d:\python3.6.8\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
d:\python3.6.8\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [ ]:
# 分类，电影类别
# 动作 武打镜头：碟中谍6、杀死bill、谍影重重
# 爱情 接吻镜头：泰坦尼克号
# 属性：武打镜头、接吻镜头
# 量化，数量化、数字化
# 金融量化

In [4]:
movie = pd.read_excel('./movies.xlsx',sheet_name=1)

data = movie.iloc[:,1:3]

target = movie['分类情况']

display(data,target)

   武打镜头  接吻镜头
0    36     1
1    43     2
2     0    10
3    59     1
4     1    15
5     2    19

0    动作片
1    动作片
2    爱情片
3    动作片
4    爱情片
5    爱情片
Name: 分类情况, dtype: object

In [10]:
type(data)

pandas.core.frame.DataFrame

In [5]:
# 算法，训练
knn = KNeighborsClassifier(n_neighbors=5)

In [6]:
# 训练，学习,算法，知道，数据和目标值target什么样关系
knn.fit(data,target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [7]:
movie

    电影名称  武打镜头  接吻镜头 分类情况
0   大话西游    36     1  动作片
1    杀破狼    43     2  动作片
2    前任3     0    10  爱情片
3    战狼2    59     1  动作片
4  泰坦尼克号     1    15  爱情片
5   星语心愿     2    19  爱情片

In [8]:
# 预测，使用，应用，高考
# 碟中谍6:100,3
# 谍影重重5:67,2
# 前任2 1,10
X_test = pd.DataFrame({'武打镜头':[100,67,1],'接吻镜头':[3,2,10]})
X_test

   武打镜头  接吻镜头
0   100     3
1    67     2
2     1    10

In [9]:
# 计算机，根据规则，返回的结果
# 算法‘意见’：结果
knn.predict(X_test)

array(['动作片', '动作片', '爱情片'], dtype=object)